In [5]:
'''[Q1-answer:-]'''

#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

import pandas as pd
s = pd.Series([4,8,15,16,23,42])
print(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [6]:
'''[Q2-answer:-]'''

#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

data =[1,2,3,4,5,6,7,8,9,10]
pd.Series(data)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [25]:
'''[Q3-answer:-]'''

#Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.

data_frame = {'Name':['Alice','Bob','Clair'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
pd.DataFrame(data_frame)

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male
2  Clair   27  Female

In [29]:
'''[Q4-answer:-]'''

#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

'''

In pandas, a DataFrame is a two-dimensional, tabular data structure that is designed to store and manipulate heterogeneous
data.It can be thought of as a collection of Series objects aligned along a common index. Each column in a DataFrame is a 
pandas Series. A DataFrame provides a way to organize and structure data, making it easy to perform various data
manipulations and analyses.

On the other hand, a Series is a one-dimensional labeled array capable of holding any data type. It is essentially a 
single column of data with an associated index. A DataFrame, being a two-dimensional structure, can be seen as a container 
for multiple Series objects.

Let's illustrate the difference with an example:
'''
import pandas as pd

# Creating a Series
series_data = pd.Series([1, 2, 3, 4], name='MySeries')

# Creating a DataFrame
df_data = pd.DataFrame({'Column1': [1, 2, 3, 4], 'Column2': ['A', 'B', 'C', 'D']})

# Displaying the Series
print("Series:")
print(series_data)
print("\n")

# Displaying the DataFrame
print("DataFrame:")
print(df_data)

Series:
0    1
1    2
2    3
3    4
Name: MySeries, dtype: int64


DataFrame:
   Column1 Column2
0        1       A
1        2       B
2        3       C
3        4       D

In [27]:
'''[Q5-answer:-]'''

#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

'''
Pandas provides a variety of functions for manipulating data in a DataFrame. Here are some common functions:

1. head() and tail():-
->head(n) returns the first n rows of the DataFrame.
->tail(n) returns the last n rows of the DataFrame.
'''
# Example
df.head(3)  # Returns the first 3 rows of the DataFrame
df.tail(3) # Returns the last 3 rows of the DataFrame

'''
2. info():
info() provides a concise summary of the DataFrame, including data types, non-null values, and memory usage.
'''
# Example
df.info()

'''
3. describe():
describe() computes various summary statistics, such as mean, standard deviation, minimum, and maximum.
'''
# Example
df.describe()

'''
4. shape:
shape returns a tuple representing the dimensions of the DataFrame (number of rows, number of columns).
'''
# Example
print(df.shape)  # Outputs (number_of_rows, number_of_columns)

'''
5. loc and iloc:
loc is used for label-based indexing, and iloc is used for integer-location based indexing.
'''
# Example
df.loc[0, 'ColumnName']  # Access value at row 0 and column 'ColumnName'
df.iloc[0, 1]            # Access value at row 0 and column index 1

'''
6. drop():
drop(labels, axis) is used to drop specified labels from rows or columns.
'''
# Example
df.drop('ColumnName', axis=1, inplace=True)  # Drops the specified column

'''
7. groupby():
groupby() is used for grouping data based on some criteria and applying a function to the groups.
'''
# Example
grouped_data = df.groupby('Category')['Value'].mean()  # Calculate the mean value for each category

'''
8. merge():
merge() is used for combining two DataFrames based on a common column.
'''
# Example
merged_df = pd.merge(df1, df2, on='common_column', how='inner')  # Inner join based on a common column

'[Q3-answer:-]'

In [3]:
'''[Q6-answer:-]'''
#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

'''
In Pandas, the Series and DataFrame are mutable, while the Panel is not.

    ->Series: Mutable. You can modify the values of a Series after it has been created.
    ->DataFrame: Mutable. You can add, remove, or modify columns and rows in a DataFrame.
    ->Panel: Deprecated. In recent versions of Pandas, the Panel data structure has been deprecated and is no longer recommended for use. It has been replaced by the more powerful and flexible MultiIndex DataFrame or other data structures.

For practical purposes, you should focus on using Series and DataFrame in modern Pandas applications.
'''

'[Q6-answer:-]'

In [7]:
'''[Q7-answer:-]'''

#Q7. Create a DataFrame using multiple Series. Explain with an example.

name_series = pd.Series(['Alice', 'Bob', 'Charlie'])
age_series = pd.Series([25,34,26])
city_series = pd.Series(['New York','San Francisco', 'Los Angeles'])

pd.DataFrame({'Name':name_series,'Age':age_series,'City':city_series})

      Name  Age           City
0    Alice   25       New York
1      Bob   34  San Francisco
2  Charlie   26    Los Angeles